<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard Admin</title>

    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        background: #f4f4f4;
      }

      .navbar {
        background: #111827;
        color: white;
        padding: 15px;
      }

      .container {
        padding: 20px;
      }

      .card {
        background: white;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        background: white;
      }

      table th,
      table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: center;
      }

      button {
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }

      .edit {
        background: orange;
      }

      .delete {
        background: red;
      }

      .add {
        background: green;
        margin-bottom: 15px;
      }
    </style>
  </head>
  <body>
    <div class="navbar">
      <h2>Dashboard Admin</h2>
    </div>

    <div class="container">
      <div class="card">
        <h3>Total Event : 2</h3>
        <h3>Total Ticket : 500</h3>
        <h3>Total Penjualan : Rp20.000.000</h3>
      </div>

      <h2>Kelola Event</h2>

      <button class="add">+ Tambah Event</button>

      <table>
        <tr>
          <th>Event</th>
          <th>Regular</th>
          <th>VIP</th>
          <th>Stock</th>
          <th>Aksi</th>
        </tr>

        <tr>
          <td>Konser Coldplay</td>
          <td>Rp500.000</td>
          <td>Rp1.500.000</td>
          <td>150</td>
          <td>
            <button class="edit">Edit</button>
            <button class="delete">Hapus</button>
          </td>
        </tr>

        <tr>
          <td>Festival Musik</td>
          <td>Rp300.000</td>
          <td>Rp900.000</td>
          <td>100</td>
          <td>
            <button class="edit">Edit</button>
            <button class="delete">Hapus</button>
          </td>
        </tr>
      </table>

      <br />

      <h2>Payment</h2>

      <table>
        <tr>
          <th>User</th>
          <th>Event</th>
          <th>Total</th>
          <th>Status</th>
        </tr>

        <tr>
          <td>Putri</td>
          <td>Konser Coldplay</td>
          <td>Rp1.500.000</td>
          <td>Lunas</td>
        </tr>
      </table>
    </div>
  </body>
</html>
